@font-face {
  font-family: 'nvp-font';
  src: url("../fonts/nvp-font.eot?qlbdff");
  src: url("../fonts/nvp-font.eot?qlbdff#iefix") format("embedded-opentype"), url("../fonts/nvp-font.ttf?qlbdff") format("truetype"), url("../fonts/nvp-font.woff?qlbdff") format("woff"), url("../fonts/nvp-font.svg?qlbdff#nvp-font") format("svg");
  font-weight: normal;
  font-style: normal; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  *:focus {
    outline: none; }

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: Arial ,Lato, sans-serif;
  font-size: 14px;
  line-height: 1;
  color: #000;
  background-color: #fff;
  margin: 0;
  font-weight: normal; }

a {
  color: #000;
  text-decoration: none;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }

a:hover {
  text-decoration: none; }

a:focus {
  outline: none;
  text-decoration: none; }

img {
  border: none;
  max-width: 100%;
  vertical-align: middle; }

ul {
  margin: 0;
  list-style: none;
  padding: 0; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0; }

input, button, textarea, select {
  outline: none; }

.vertical-align::before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-left: -4px; }

.vertical-align > * {
  display: inline-block;
  vertical-align: middle; }

.clear {
  clear: both; }

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%; }
  @media (min-width: 576px) {
    .container {
      max-width: 540px; } }
  @media (min-width: 768px) {
    .container {
      max-width: 720px; } }
  @media (min-width: 992px) {
    .container {
      max-width: 960px; } }
  @media (min-width: 1200px) {
    .container {
      max-width: 1140px; } }

.row {
  margin-left: -15px;
  margin-right: -15px; }

.btn-wrap {
  display: inline-block;
  width: 100%;
  text-align: center; }

.btn {
  display: inline-block;
  background: #588fdb;
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  width: 191px;
  border: 2px solid #588fdb;
  box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.35);
  text-align: center;
  line-height: 44px;
  -webkit-transform: skew(-20deg);
  -moz-transform: skew(-20deg);
  -o-transform: skew(-20deg);
  transform: skew(-20deg);
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  letter-spacing: 2px;
  cursor: pointer; }
  .btn span {
    -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
    -o-transform: skew(20deg);
    transform: skew(20deg);
    display: inline-block; }
  .btn:hover {
    color: #fff;
    background: #2873da;
    border-color: #2873da; }
  .btn:active {
    border-color: #a0cb00; }

.title {
  font-size: 48px;
  color: #fff;
  font-weight: 900;
  text-align: center;
  display: inline-block;
  width: 100%;
  margin-top: 2.45em;
  margin-bottom: 1.4em; }
  @media (max-width: 1199px) {
    .title {
      margin-top: 2em;
      margin-bottom: 1.2em; } }
  @media (max-width: 991px) {
    .title {
      margin-top: 1.5em;
      margin-bottom: 1em;
      font-size: 44px; } }
  @media (max-width: 768px) {
    .title {
      font-size: 35px; } }
  @media (max-width: 575px) {
    .title {
      font-size: 30px;
      font-weight: bold; } }

[class^="nvp"], [class*=" nvp"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'nvp-font' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.nvpclock:before {
  content: "\e900"; }

.nvpdelivery:before {
  content: "\e901";
  font-size: 1.2em; }

.nvpdiploma:before {
  content: "\e902"; }

.nvpheadphones:before {
  content: "\e903"; }

.nvplike:before {
  content: "\e904";
  font-size: .9em;
  margin-top: -5px; }

.nvppackage:before {
  content: "\e905";
  font-size: .9em;
  margin-top: -5px; }

.nvpplaceholder:before {
  content: "\e906"; }

.nvpplanning:before {
  content: "\e907"; }

.nvpquality:before {
  content: "\e908";
  font-size: 1.3em; }

.nvpsettings:before {
  content: "\e909"; }

.nvpstar:before {
  content: "\e90a"; }

.nvptick-sign:before {
  content: "\e90b"; }

.nvpwallet:before {
  content: "\e90c"; }

header {
  background: #a0cb00;
  padding: 10px 0 15px; }
  @media (max-width: 1199px) {
    header {
      padding: 7px 0 8px; } }
  header .container {
    text-align: center; }
    header .container .logo {
      float: left;
      margin-right: 30px;
      width: 148px; }
      @media (max-width: 1199px) {
        header .container .logo {
          width: 120px; } }
      @media (max-width: 575px) {
        header .container .logo {
          width: 100px;
          margin-right: 10px; } }
      header .container .logo img {
        width: 100%; }
    header .container .header-text {
      float: left;
      background: #eae005;
      height: 74px;
      font-size: 16px;
      font-weight: bold;
      width: 145px;
      line-height: 18px;
      padding-top: 10px;
      text-align: center;
      -webkit-box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.35);
      -moz-box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.35);
      box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.35);
      margin-right: 77px; }
      @media (max-width: 1199px) {
        header .container .header-text {
          margin-right: 38px;
          height: 60px;
          font-size: 15px;
          line-height: 15px;
          padding-top: 7px; } }
      @media (max-width: 991px) {
        header .container .header-text {
          margin-right: 30px; } }
      @media (max-width: 768px) {
        header .container .header-text {
          display: none; } }
    header .container .tell-wrap {
      float: left; }
      @media (max-width: 991px) {
        header .container .tell-wrap {
          width: 150px;
          margin-top: 7px; } }
      @media (max-width: 575px) {
        header .container .tell-wrap {
          float: right;
          margin-top: 0; } }
      header .container .tell-wrap .tell {
        height: 74px;
        float: left;
        font-size: 24px;
        font-weight: bold;
        color: #000;
        -webkit-transition: .3s;
        -moz-transition: .3s;
        -ms-transition: .3s;
        -o-transition: .3s;
        transition: .3s; }
        @media (max-width: 1199px) {
          header .container .tell-wrap .tell {
            font-size: 20px;
            height: 60px; } }
        @media (max-width: 991px) {
          header .container .tell-wrap .tell {
            height: 25px;
            font-size: 16px; } }
        header .container .tell-wrap .tell:first-child {
          margin-right: 30px; }
          @media (max-width: 1199px) {
            header .container .tell-wrap .tell:first-child {
              margin-right: 20px; } }
          @media (max-width: 991px) {
            header .container .tell-wrap .tell:first-child {
              margin-right: 0; } }
        header .container .tell-wrap .tell:hover {
          color: #2873da; }
    header .container .btn {
      letter-spacing: 2px;
      float: right;
      margin-right: 10px;
      margin-top: 9px; }
      @media (max-width: 1199px) {
        header .container .btn {
          margin-top: 2px; } }
      @media (max-width: 575px) {
        header .container .btn {
          letter-spacing: normal;
          float: none;
          display: inline-block;
          width: 120px;
          font-size: 14px;
          line-height: 30px;
          margin: 6px 10px 0; } }

footer {
  background: #a0cb00;
  padding: 10px 0; }
  footer .container {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    @media (max-width: 575px) {
      footer .container {
        flex-direction: column; } }
  footer .logo {
    margin-right: 30px;
    width: 148px; }
    @media (max-width: 1199px) {
      footer .logo {
        width: 120px; } }
    @media (max-width: 575px) {
      footer .logo {
        width: 100px;
        margin-right: 10px; } }
    footer .logo img {
      width: 100%; }
  @media (max-width: 991px) {
    footer .tell-wrap {
      display: flex;
      flex-direction: column; } }
  @media (max-width: 768px) {
    footer .tell-wrap {
      min-width: 150px; } }
  @media (max-width: 575px) {
    footer .tell-wrap {
      min-width: 120px; } }
  footer .tell-wrap .tell {
    height: 74px;
    float: left;
    font-size: 24px;
    font-weight: bold;
    color: #000;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    transition: .3s; }
    @media (max-width: 1199px) {
      footer .tell-wrap .tell {
        font-size: 20px;
        height: 60px; } }
    @media (max-width: 991px) {
      footer .tell-wrap .tell {
        height: 25px;
        font-size: 16px; } }
    footer .tell-wrap .tell:first-child {
      margin-right: 30px; }
      @media (max-width: 1199px) {
        footer .tell-wrap .tell:first-child {
          margin-right: 20px; } }
      @media (max-width: 991px) {
        footer .tell-wrap .tell:first-child {
          margin-right: 0; } }
    footer .tell-wrap .tell:hover {
      color: #2873da; }
  footer .logo-artfox {
    font-size: 16px;
    font-weight: bold; }
    @media (max-width: 768px) {
      footer .logo-artfox {
        display: flex; } }
    @media (max-width: 575px) {
      footer .logo-artfox {
        max-width: 240px; } }
    footer .logo-artfox:hover span {
      color: #2873da; }
    footer .logo-artfox span {
      -webkit-transition: .3s;
      -moz-transition: .3s;
      -ms-transition: .3s;
      -o-transition: .3s;
      transition: .3s; }
    footer .logo-artfox img {
      margin-right: 10px;
      width: 86px; }

.head-block {
  background: url("../img/head-bg.jpg") no-repeat center;
  background-size: cover; }
  .head-block .container {
    padding-bottom: 127px;
    position: relative;
    overflow: hidden; }
    @media (max-width: 1199px) {
      .head-block .container {
        padding-bottom: 100px; } }
    @media (max-width: 768px) {
      .head-block .container {
        padding-bottom: 70px; } }
    @media (max-width: 575px) {
      .head-block .container {
        padding-bottom: 40px; } }
  .head-block .head-title {
    width: 100%;
    display: inline-block;
    font-size: 49px;
    color: #c8cbd0;
    text-transform: uppercase;
    font-weight: 900;
    padding: 18px 0 59px 59px;
    letter-spacing: 8px; }
    @media (max-width: 991px) {
      .head-block .head-title {
        padding-left: 0;
        text-align: center;
        font-size: 40px;
        padding-bottom: 40px; } }
    @media (max-width: 575px) {
      .head-block .head-title {
        font-size: 20px;
        padding-bottom: 20px; } }
  .head-block .content-card {
    width: 919px;
    float: right;
    background: #fff;
    position: relative;
    padding-bottom: 30px;
    -webkit-box-shadow: 0 10px 17px 3px rgba(0, 0, 0, 0.55);
    -moz-box-shadow: 0 10px 17px 3px rgba(0, 0, 0, 0.55);
    box-shadow: 0 10px 17px 3px rgba(0, 0, 0, 0.55); }
    @media (max-width: 1199px) {
      .head-block .content-card {
        width: 800px; } }
    @media (max-width: 991px) {
      .head-block .content-card {
        width: 100%;
        float: none; } }
    @media (max-width: 575px) {
      .head-block .content-card {
        text-align: center; } }
    .head-block .content-card .card-title-text {
      text-transform: uppercase;
      font-size: 24px;
      padding: 39px 0 0 24px;
      letter-spacing: -.5px; }
      @media (max-width: 1199px) {
        .head-block .content-card .card-title-text {
          font-size: 22px;
          padding: 30px 0 0 24px; } }
      @media (max-width: 991px) {
        .head-block .content-card .card-title-text {
          font-size: 20px;
          padding: 25px 0 0 15px; } }
      @media (max-width: 768px) {
        .head-block .content-card .card-title-text {
          padding: 15px 115px 0 15px;
          text-align: center; } }
      @media (max-width: 575px) {
        .head-block .content-card .card-title-text {
          padding: 15px 15px 0;
          line-height: 1.2; } }
      .head-block .content-card .card-title-text span {
        font-weight: 900;
        margin-left: 11px; }
    .head-block .content-card .logo {
      position: absolute;
      right: 0;
      top: 0;
      background: #eae005;
      width: 198px;
      height: 110px;
      padding: 18px 27px 0;
      box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.35); }
      @media (max-width: 1199px) {
        .head-block .content-card .logo {
          width: 160px;
          height: 90px;
          padding: 12px 17px 0; } }
      @media (max-width: 991px) {
        .head-block .content-card .logo {
          width: 124px;
          height: 70px;
          padding: 11px 15px 0; } }
      @media (max-width: 768px) {
        .head-block .content-card .logo {
          width: 100px;
          height: 60px;
          padding: 8px 5px 0; } }
      @media (max-width: 575px) {
        .head-block .content-card .logo {
          display: none; } }
      .head-block .content-card .logo img {
        width: 100%; }
    .head-block .content-card .card-img {
      width: 50%;
      float: left;
      padding: 40px 35px 0; }
      @media (max-width: 1199px) {
        .head-block .content-card .card-img {
          padding: 15px 35px 0; } }
      @media (max-width: 991px) {
        .head-block .content-card .card-img {
          padding: 15px 20px 0; } }
      @media (max-width: 768px) {
        .head-block .content-card .card-img {
          width: 100%;
          padding: 15px 80px 0; } }
      @media (max-width: 575px) {
        .head-block .content-card .card-img {
          padding: 5px 10px 0;
          text-align: center; } }
      .head-block .content-card .card-img img {
        width: 100%; }
        @media (max-width: 575px) {
          .head-block .content-card .card-img img {
            max-width: 350px; } }
    .head-block .content-card .card-info {
      float: left;
      width: 50%;
      display: flex;
      padding: 97px 0 0 15px; }
      @media (max-width: 1199px) {
        .head-block .content-card .card-info {
          padding: 47px 0 0 15px; } }
      @media (max-width: 991px) {
        .head-block .content-card .card-info {
          padding: 53px 0 0 0; } }
      @media (max-width: 768px) {
        .head-block .content-card .card-info {
          width: 100%;
          padding: 0 55px 0;
          justify-content: space-around;
          align-items: center;
          margin-bottom: 30px; } }
      @media (max-width: 575px) {
        .head-block .content-card .card-info {
          flex-direction: column-reverse; } }
      .head-block .content-card .card-info .info-text {
        display: flex;
        flex-direction: column;
        font-weight: 900;
        margin-top: 5px; }
        .head-block .content-card .card-info .info-text .stock {
          font-size: 48px;
          color: #5b0e9e; }
          @media (max-width: 991px) {
            .head-block .content-card .card-info .info-text .stock {
              font-size: 40px; } }
        .head-block .content-card .card-info .info-text .price {
          font-size: 72px;
          color: #000;
          margin-top: 20px; }
          @media (max-width: 991px) {
            .head-block .content-card .card-info .info-text .price {
              font-size: 60px;
              margin-top: 10px; } }
      .head-block .content-card .card-info .info-circle {
        border-radius: 50%;
        height: 137px;
        width: 137px;
        background: #eae005;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 20px;
        font-size: 36px;
        color: #5b0e9e;
        line-height: .9em;
        position: relative; }
        @media (max-width: 575px) {
          .head-block .content-card .card-info .info-circle {
            margin-left: 0;
            margin-bottom: 20px;
            margin-top: 10px; } }
        .head-block .content-card .card-info .info-circle:before {
          content: '';
          position: absolute;
          background: #eae005;
          -webkit-transform: rotate(45deg);
          -moz-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          -o-transform: rotate(45deg);
          transform: rotate(45deg);
          height: 26px;
          width: 26px;
          top: calc(50% - 13px);
          left: -9px; }
          @media (max-width: 575px) {
            .head-block .content-card .card-info .info-circle:before {
              left: calc(50% - 13px);
              top: auto;
              bottom: -9px; } }
        .head-block .content-card .card-info .info-circle span:first-child {
          position: relative; }
          .head-block .content-card .card-info .info-circle span:first-child:before {
            content: '';
            position: absolute;
            left: -5%;
            top: 50%;
            width: 110%;
            height: 2px;
            background: #5b0e9e; }
    .head-block .content-card .btn-wrap {
      margin-top: -17px; }
      @media (max-width: 1199px) {
        .head-block .content-card .btn-wrap {
          margin-top: 0; } }
  .head-block .left-title {
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.59) 0%, rgba(253, 254, 254, 0.59) 1%, rgba(80, 131, 200, 0.59) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.59) 0%, rgba(253, 254, 254, 0.59) 1%, rgba(80, 131, 200, 0.59) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.59) 0%, rgba(253, 254, 254, 0.59) 1%, rgba(80, 131, 200, 0.59) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#96ffffff', endColorstr='#965083c8', GradientType=0);
    /* IE6-9 */
    position: absolute;
    left: 15px;
    top: 0;
    bottom: 0;
    width: 24%; }
    @media (max-width: 991px) {
      .head-block .left-title {
        display: none; } }
    .head-block .left-title ul {
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: space-around;
      font-size: 92px;
      opacity: .5;
      color: #000;
      font-weight: bold;
      text-transform: uppercase;
      padding: 83px 0 63px 55px;
      line-height: .9; }
      @media (max-width: 1199px) {
        .head-block .left-title ul {
          font-size: 70px;
          padding: 83px 0 63px 40px; } }

.six-info {
  background: #588fdb;
  padding: 30px 0 5px; }
  .six-info .one-info-wrap {
    width: 33.333333%;
    float: left;
    padding: 0 15px;
    position: relative;
    margin-bottom: 15px; }
    @media (max-width: 991px) {
      .six-info .one-info-wrap {
        width: 50%; } }
    @media (max-width: 575px) {
      .six-info .one-info-wrap {
        width: 100%; } }
    .six-info .one-info-wrap .info-img {
      width: 130px;
      position: relative;
      font-size: 65px;
      z-index: 5; }
      @media (max-width: 768px) {
        .six-info .one-info-wrap .info-img {
          width: 110px;
          font-size: 60px; } }
      .six-info .one-info-wrap .info-img:before {
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #5b0e9e; }
      .six-info .one-info-wrap .info-img.right {
        margin-right: 0;
        margin-left: auto; }
        @media (max-width: 991px) {
          .six-info .one-info-wrap .info-img.right {
            margin-left: 0;
            margin-right: auto; } }
      .six-info .one-info-wrap .info-img img {
        width: 100%; }
    .six-info .one-info-wrap .info-text {
      position: absolute;
      right: 0;
      top: 36px;
      background: rgba(255, 255, 255, 0.2);
      width: calc(100% - 139px);
      height: 69px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 24px;
      color: #fff;
      text-align: center;
      line-height: 1.1;
      padding: 0 25px; }
      @media (max-width: 1199px) {
        .six-info .one-info-wrap .info-text {
          padding: 0 0;
          font-size: 22px; } }
      @media (max-width: 991px) {
        .six-info .one-info-wrap .info-text {
          padding: 0 10px;
          font-size: 22px; } }
      @media (max-width: 768px) {
        .six-info .one-info-wrap .info-text {
          top: 30px;
          width: calc(100% - 119px);
          height: 60px;
          font-size: 18px; } }
      @media (max-width: 575px) {
        .six-info .one-info-wrap .info-text {
          right: 15px;
          width: calc(100% - 135px);
          font-size: 21px; } }
      .six-info .one-info-wrap .info-text.right {
        right: auto;
        left: 0; }
        @media (max-width: 991px) {
          .six-info .one-info-wrap .info-text.right {
            right: 0;
            left: auto; } }
        @media (max-width: 575px) {
          .six-info .one-info-wrap .info-text.right {
            right: 15px; } }

.product-block {
  background: url("../img/big-bg.jpg") no-repeat center;
  background-size: cover; }
  .product-block .container {
    position: relative; }
  .product-block .line-left {
    background: -moz-linear-gradient(top, rgba(80, 131, 200, 0.59) 0%, rgba(255, 255, 255, 0.59) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(80, 131, 200, 0.59) 0%, rgba(255, 255, 255, 0.59) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(80, 131, 200, 0.59) 0%, rgba(255, 255, 255, 0.59) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#965083c8', endColorstr='#96ffffff', GradientType=0);
    /* IE6-9 */
    position: absolute;
    left: 15px;
    top: 0;
    bottom: 0;
    z-index: 1;
    width: 24%; }
    @media (max-width: 768px) {
      .product-block .line-left {
        display: none; } }
  .product-block .title {
    position: relative;
    z-index: 2; }
  .product-block .slider-wrap {
    display: flex;
    position: relative;
    z-index: 2;
    overflow: hidden; }
    @media (max-width: 768px) {
      .product-block .slider-wrap {
        flex-direction: column; } }
    .product-block .slider-wrap .slider {
      width: 273px;
      min-width: 273px;
      padding: 35px 0;
      position: relative; }
      @media (max-width: 1199px) {
        .product-block .slider-wrap .slider {
          width: 230px;
          min-width: 230px;
          margin: 15px 0; } }
      @media (max-width: 991px) {
        .product-block .slider-wrap .slider {
          width: 173px;
          min-width: 173px;
          margin: 60px 0; } }
      @media (max-width: 768px) {
        .product-block .slider-wrap .slider {
          width: 100%;
          background: #fff;
          margin: 0 0;
          padding: 10px 0; } }
      .product-block .slider-wrap .slider .slide {
        display: flex;
        align-items: center;
        height: 175px; }
        @media (max-width: 1199px) {
          .product-block .slider-wrap .slider .slide {
            height: 160px; } }
        @media (max-width: 991px) {
          .product-block .slider-wrap .slider .slide {
            height: 130px; } }
        @media (max-width: 768px) {
          .product-block .slider-wrap .slider .slide {
            justify-content: center; } }
      .product-block .slider-wrap .slider .number {
        font-size: 92px;
        color: #000;
        opacity: .3;
        font-weight: bold;
        margin-left: 12px; }
        @media (max-width: 991px) {
          .product-block .slider-wrap .slider .number {
            font-size: 75px;
            margin-left: 10px; } }
        @media (max-width: 768px) {
          .product-block .slider-wrap .slider .number {
            display: none; } }
      .product-block .slider-wrap .slider .slide-img {
        width: 120px;
        margin-left: 20px; }
        @media (max-width: 991px) {
          .product-block .slider-wrap .slider .slide-img {
            width: 80px;
            margin-left: 10px; } }
        @media (max-width: 768px) {
          .product-block .slider-wrap .slider .slide-img {
            margin-left: 0;
            width: 100px; } }
        .product-block .slider-wrap .slider .slide-img img {
          width: 100%; }
      .product-block .slider-wrap .slider .slick-next, .product-block .slider-wrap .slider .slick-prev {
        cursor: pointer;
        border: none;
        background: transparent;
        position: absolute;
        left: calc(50% - 10px);
        width: 44px;
        height: 40px;
        margin: 0;
        padding: 0;
        overflow: hidden;
        z-index: 5; }
        .product-block .slider-wrap .slider .slick-next:hover span:before, .product-block .slider-wrap .slider .slick-next:hover span:after, .product-block .slider-wrap .slider .slick-prev:hover span:before, .product-block .slider-wrap .slider .slick-prev:hover span:after {
          background: #588fdb; }
        .product-block .slider-wrap .slider .slick-next span, .product-block .slider-wrap .slider .slick-prev span {
          position: relative;
          width: 100%;
          height: 40px;
          display: inline-block; }
          .product-block .slider-wrap .slider .slick-next span:before, .product-block .slider-wrap .slider .slick-next span:after, .product-block .slider-wrap .slider .slick-prev span:before, .product-block .slider-wrap .slider .slick-prev span:after {
            content: '';
            background: #a0cb00;
            position: absolute;
            top: 16px;
            height: 10px;
            width: 50px;
            -webkit-transition: .3s;
            -moz-transition: .3s;
            -ms-transition: .3s;
            -o-transition: .3s;
            transition: .3s; }
          .product-block .slider-wrap .slider .slick-next span:before, .product-block .slider-wrap .slider .slick-prev span:before {
            left: calc(50% - 7px);
            -webkit-transform: rotate(35deg);
            -moz-transform: rotate(35deg);
            -ms-transform: rotate(35deg);
            -o-transform: rotate(35deg);
            transform: rotate(35deg); }
          .product-block .slider-wrap .slider .slick-next span:after, .product-block .slider-wrap .slider .slick-prev span:after {
            right: calc(50% - 7px);
            -webkit-transform: rotate(-35deg);
            -moz-transform: rotate(-35deg);
            -ms-transform: rotate(-35deg);
            -o-transform: rotate(-35deg);
            transform: rotate(-35deg); }
      .product-block .slider-wrap .slider .slick-prev {
        top: 0; }
        @media (max-width: 768px) {
          .product-block .slider-wrap .slider .slick-prev {
            top: calc(50% - 20px);
            left: 0;
            -webkit-transform: rotate(-90deg);
            -moz-transform: rotate(-90deg);
            -ms-transform: rotate(-90deg);
            -o-transform: rotate(-90deg);
            transform: rotate(-90deg); } }
      .product-block .slider-wrap .slider .slick-next {
        bottom: 0; }
        @media (max-width: 768px) {
          .product-block .slider-wrap .slider .slick-next {
            bottom: calc(50% - 20px);
            right: 0;
            left: auto;
            -webkit-transform: rotate(-90deg);
            -moz-transform: rotate(-90deg);
            -ms-transform: rotate(-90deg);
            -o-transform: rotate(-90deg);
            transform: rotate(-90deg); } }
        .product-block .slider-wrap .slider .slick-next span:before {
          left: calc(50% - 7px);
          -webkit-transform: rotate(-35deg);
          -moz-transform: rotate(-35deg);
          -ms-transform: rotate(-35deg);
          -o-transform: rotate(-35deg);
          transform: rotate(-35deg); }
        .product-block .slider-wrap .slider .slick-next span:after {
          right: calc(50% - 7px);
          -webkit-transform: rotate(35deg);
          -moz-transform: rotate(35deg);
          -ms-transform: rotate(35deg);
          -o-transform: rotate(35deg);
          transform: rotate(35deg); }
    .product-block .slider-wrap .slide-info-wrap {
      width: 100%;
      position: relative; }
      .product-block .slider-wrap .slide-info-wrap .one-slide-info {
        -webkit-box-shadow: 0 10px 17px 3px rgba(0, 0, 0, 0.55);
        -moz-box-shadow: 0 10px 17px 3px rgba(0, 0, 0, 0.55);
        box-shadow: 0 10px 17px 3px rgba(0, 0, 0, 0.55);
        border-top: 30px solid #eae005;
        background: #fff;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;
        z-index: -999;
        opacity: 0;
        -webkit-transform: translateX(40px);
        -moz-transform: translateX(40px);
        -ms-transform: translateX(40px);
        -o-transform: translateX(40px);
        transform: translateX(40px);
        -webkit-transition: .3s;
        -moz-transition: .3s;
        -ms-transition: .3s;
        -o-transition: .3s;
        transition: .3s;
        display: none; }
        @media (max-width: 768px) {
          .product-block .slider-wrap .slide-info-wrap .one-slide-info {
            position: relative;
            flex-direction: column;
            border-top: 15px solid #eae005;
            -webkit-transform: translateY(40px);
            -moz-transform: translateY(40px);
            -ms-transform: translateY(40px);
            -o-transform: translateY(40px);
            transform: translateY(40px); } }
        .product-block .slider-wrap .slide-info-wrap .one-slide-info:before {
          content: '';
          position: absolute;
          right: 100%;
          top: calc(50% - 35px);
          border: 20px solid transparent;
          border-right: 35px solid #fff; }
          @media (max-width: 1199px) {
            .product-block .slider-wrap .slide-info-wrap .one-slide-info:before {
              border: 16px solid transparent;
              border-right: 24px solid #fff; } }
          @media (max-width: 991px) {
            .product-block .slider-wrap .slide-info-wrap .one-slide-info:before {
              border: 10px solid transparent;
              border-right: 10px solid #fff;
              top: calc(50% - 27px); } }
          @media (max-width: 768px) {
            .product-block .slider-wrap .slide-info-wrap .one-slide-info:before {
              border-bottom: 10px solid #fff;
              border-right-color: transparent;
              top: -20px;
              left: calc(50% - 10px); } }
        .product-block .slider-wrap .slide-info-wrap .one-slide-info.life {
          display: flex;
          z-index: 1; }
        .product-block .slider-wrap .slide-info-wrap .one-slide-info.see {
          opacity: 1;
          -webkit-transform: translateX(0);
          -moz-transform: translateX(0);
          -ms-transform: translateX(0);
          -o-transform: translateX(0);
          transform: translateX(0); }
        .product-block .slider-wrap .slide-info-wrap .one-slide-info .info-card {
          width: 32%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center; }
          @media (max-width: 1199px) {
            .product-block .slider-wrap .slide-info-wrap .one-slide-info .info-card {
              width: 35%; } }
          @media (max-width: 768px) {
            .product-block .slider-wrap .slide-info-wrap .one-slide-info .info-card {
              width: 100%; } }
          .product-block .slider-wrap .slide-info-wrap .one-slide-info .info-card .card-title {
            text-align: center;
            font-size: 24px;
            color: #000;
            font-weight: bold;
            padding: 0 10px 40px;
            line-height: 1.3;
            width: 100%; }
            @media (max-width: 1199px) {
              .product-block .slider-wrap .slide-info-wrap .one-slide-info .info-card .card-title {
                font-size: 22px; } }
            @media (max-width: 991px) {
              .product-block .slider-wrap .slide-info-wrap .one-slide-info .info-card .card-title {
                font-size: 16px;
                padding-bottom: 20px; } }
            @media (max-width: 768px) {
              .product-block .slider-wrap .slide-info-wrap .one-slide-info .info-card .card-title {
                padding-top: .5em;
                font-size: 30px; } }
            @media (max-width: 575px) {
              .product-block .slider-wrap .slide-info-wrap .one-slide-info .info-card .card-title {
                font-size: 20px;
                padding-bottom: 10px; } }
          .product-block .slider-wrap .slide-info-wrap .one-slide-info .info-card .card-img {
            width: 100%;
            padding: 0 20px; }
            @media (max-width: 991px) {
              .product-block .slider-wrap .slide-info-wrap .one-slide-info .info-card .card-img {
                padding-bottom: 30px; } }
            @media (max-width: 768px) {
              .product-block .slider-wrap .slide-info-wrap .one-slide-info .info-card .card-img {
                padding: 0 20% 20px; } }
            .product-block .slider-wrap .slide-info-wrap .one-slide-info .info-card .card-img img {
              width: 100%; }
          .product-block .slider-wrap .slide-info-wrap .one-slide-info .info-card .last-price {
            text-decoration: line-through;
            color: #5b0e9e;
            font-size: 24px;
            margin-bottom: 5px; }
            @media (max-width: 991px) {
              .product-block .slider-wrap .slide-info-wrap .one-slide-info .info-card .last-price {
                font-size: 20px; } }
            @media (max-width: 768px) {
              .product-block .slider-wrap .slide-info-wrap .one-slide-info .info-card .last-price {
                font-size: 28px; } }
          .product-block .slider-wrap .slide-info-wrap .one-slide-info .info-card .new-price {
            color: #5b0e9e;
            font-size: 36px;
            font-weight: 900;
            margin-bottom: 25px; }
            @media (max-width: 991px) {
              .product-block .slider-wrap .slide-info-wrap .one-slide-info .info-card .new-price {
                font-size: 28px; } }
            @media (max-width: 768px) {
              .product-block .slider-wrap .slide-info-wrap .one-slide-info .info-card .new-price {
                font-size: 42px; } }
          @media (max-width: 991px) {
            .product-block .slider-wrap .slide-info-wrap .one-slide-info .info-card .btn {
              width: 140px;
              line-height: 36px; } }
          @media (max-width: 768px) {
            .product-block .slider-wrap .slide-info-wrap .one-slide-info .info-card .btn {
              width: 191px;
              line-height: 44px;
              margin-bottom: 30px; } }
        .product-block .slider-wrap .slide-info-wrap .one-slide-info .teh-info {
          display: flex;
          width: 68%;
          height: 100%;
          flex-direction: column;
          justify-content: center;
          padding: 0 30px; }
          @media (max-width: 1199px) {
            .product-block .slider-wrap .slide-info-wrap .one-slide-info .teh-info {
              padding: 0 30px 0 0;
              width: 65%; } }
          @media (max-width: 991px) {
            .product-block .slider-wrap .slide-info-wrap .one-slide-info .teh-info {
              padding: 0 10px 0 0; } }
          @media (max-width: 768px) {
            .product-block .slider-wrap .slide-info-wrap .one-slide-info .teh-info {
              width: 100%;
              padding: 0 10px; } }
          @media (max-width: 575px) {
            .product-block .slider-wrap .slide-info-wrap .one-slide-info .teh-info {
              padding: 0; } }
          .product-block .slider-wrap .slide-info-wrap .one-slide-info .teh-info .teh-title {
            font-size: 18px;
            color: #5b0e9e;
            font-weight: bold;
            margin-bottom: 15px; }
            @media (max-width: 768px) {
              .product-block .slider-wrap .slide-info-wrap .one-slide-info .teh-info .teh-title {
                text-align: center;
                font-size: 22px; } }
          .product-block .slider-wrap .slide-info-wrap .one-slide-info .teh-info ul.table {
            border: 2px solid #e4e5e6;
            margin-bottom: 30px; }
            @media (max-width: 768px) {
              .product-block .slider-wrap .slide-info-wrap .one-slide-info .teh-info ul.table {
                margin-bottom: 10px; } }
            .product-block .slider-wrap .slide-info-wrap .one-slide-info .teh-info ul.table li {
              font-size: 14px;
              display: flex;
              align-items: center;
              height: 30px; }
              @media (max-width: 991px) {
                .product-block .slider-wrap .slide-info-wrap .one-slide-info .teh-info ul.table li {
                  font-size: 12px; } }
              .product-block .slider-wrap .slide-info-wrap .one-slide-info .teh-info ul.table li + li {
                border-top: 2px solid #e4e5e6; }
              .product-block .slider-wrap .slide-info-wrap .one-slide-info .teh-info ul.table li .name {
                width: 74%;
                padding-left: 15px; }
                @media (max-width: 991px) {
                  .product-block .slider-wrap .slide-info-wrap .one-slide-info .teh-info ul.table li .name {
                    padding-left: 5px; } }
              .product-block .slider-wrap .slide-info-wrap .one-slide-info .teh-info ul.table li .val {
                border-left: 2px solid #e4e5e6;
                width: 26%;
                font-weight: bold;
                padding-left: 10px;
                height: 100%;
                display: flex;
                align-items: center; }
                @media (max-width: 991px) {
                  .product-block .slider-wrap .slide-info-wrap .one-slide-info .teh-info ul.table li .val {
                    padding-left: 5px; } }
  .product-block .trust-block {
    -webkit-box-shadow: 0px 7px 20px 2px rgba(0, 0, 0, 0.55);
    -moz-box-shadow: 0px 7px 20px 2px rgba(0, 0, 0, 0.55);
    box-shadow: 0px 7px 20px 2px rgba(0, 0, 0, 0.55);
    position: relative;
    z-index: 5;
    background: #fff;
    border-top: 30px solid #eae005; }
    @media (max-width: 768px) {
      .product-block .trust-block {
        border-top: 10px solid #eae005; } }
    .product-block .trust-block .trust-bg-img {
      position: absolute;
      top: -67px;
      bottom: 0;
      left: 0;
      width: 32%;
      padding: 0 3px 0 14px; }
      @media (max-width: 991px) {
        .product-block .trust-block .trust-bg-img {
          top: 0;
          display: flex;
          align-items: flex-end; } }
      @media (max-width: 768px) {
        .product-block .trust-block .trust-bg-img {
          display: none; } }
      .product-block .trust-block .trust-bg-img img {
        width: 100%; }
    .product-block .trust-block .trust-text {
      font-size: 24px;
      line-height: 1.5em;
      padding: 90px 5% 100px 34%;
      max-height: 435px;
      position: relative; }
      @media (max-width: 1199px) {
        .product-block .trust-block .trust-text {
          font-size: 22px;
          line-height: 1.3em;
          padding: 50px 5% 50px 34%;
          max-height: 325px; } }
      @media (max-width: 991px) {
        .product-block .trust-block .trust-text {
          max-height: 9999px; } }
      @media (max-width: 768px) {
        .product-block .trust-block .trust-text {
          padding: 40px 15px;
          text-align: center; } }
      @media (max-width: 575px) {
        .product-block .trust-block .trust-text {
          font-size: 18px;
          padding: 20px 15px; } }
      .product-block .trust-block .trust-text * + * {
        margin-top: 1.2em; }
        @media (max-width: 768px) {
          .product-block .trust-block .trust-text * + * {
            margin-top: 1em; } }

.advantages-block {
  padding-bottom: 90px; }
  @media (max-width: 991px) {
    .advantages-block {
      padding-bottom: 50px; } }
  .advantages-block .title {
    color: #5b0e9e; }
  .advantages-block .advantages-wrap li {
    margin-bottom: 20px;
    min-height: 95px;
    display: inline-block;
    width: 100%; }
    @media (max-width: 1199px) {
      .advantages-block .advantages-wrap li {
        min-height: 0; } }
    @media (max-width: 768px) {
      .advantages-block .advantages-wrap li {
        margin-bottom: 0; } }
  .advantages-block .advantages-wrap .one-advantages {
    float: left;
    width: 50%;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.5em;
    padding-left: 60px;
    position: relative; }
    @media (max-width: 1199px) {
      .advantages-block .advantages-wrap .one-advantages {
        padding-left: 50px;
        font-size: 22px; } }
    @media (max-width: 991px) {
      .advantages-block .advantages-wrap .one-advantages {
        padding-left: 35px;
        font-size: 18px;
        padding-right: 10px; } }
    @media (max-width: 768px) {
      .advantages-block .advantages-wrap .one-advantages {
        width: 100%;
        margin-bottom: 10px; } }
    @media (max-width: 575px) {
      .advantages-block .advantages-wrap .one-advantages {
        font-size: 16px; } }
    .advantages-block .advantages-wrap .one-advantages:before {
      content: '';
      position: absolute;
      background: url("../img/ok.png") no-repeat;
      background-size: contain;
      height: 36px;
      width: 41px;
      left: 0;
      top: 6px; }
      @media (max-width: 991px) {
        .advantages-block .advantages-wrap .one-advantages:before {
          width: 30px; } }

.clients-block {
  background: url("../img/clients-bg.jpg") no-repeat center;
  background-size: cover;
  padding-bottom: 50px; }
  .clients-block .title {
    font-size: 44px;
    margin-top: 1em;
    margin-bottom: .8em; }
    @media (max-width: 1199px) {
      .clients-block .title {
        font-size: 40px; } }
    @media (max-width: 991px) {
      .clients-block .title {
        font-size: 35px; } }
    @media (max-width: 768px) {
      .clients-block .title {
        font-size: 28px; } }
    @media (max-width: 575px) {
      .clients-block .title {
        font-size: 22px; } }
  .clients-block .little-title {
    color: #fff;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px; }
    @media (max-width: 1199px) {
      .clients-block .little-title {
        font-size: 22px; } }
    @media (max-width: 991px) {
      .clients-block .little-title {
        font-size: 20px; } }
    @media (max-width: 768px) {
      .clients-block .little-title {
        font-size: 18px; } }
    @media (max-width: 575px) {
      .clients-block .little-title {
        font-size: 16px; } }
  .clients-block form {
    margin-top: 65px;
    text-align: center; }
    @media (max-width: 991px) {
      .clients-block form {
        margin-top: 45px; } }
    .clients-block form .input-wrap {
      display: flex;
      align-items: center;
      justify-content: center; }
    .clients-block form input {
      height: 48px;
      border: none;
      display: inline-block;
      width: 260px;
      padding-left: 20px;
      font-size: 24px; }
      @media (max-width: 575px) {
        .clients-block form input {
          height: 34px;
          font-size: 16px;
          width: 200px;
          padding-left: 5px; } }
      @media (max-width: 399px) {
        .clients-block form input {
          width: 170px; } }
    .clients-block form .btn {
      margin-left: -20px; }
      @media (max-width: 575px) {
        .clients-block form .btn {
          line-height: 30px;
          font-size: 14px;
          letter-spacing: normal;
          width: 130px; } }
      .clients-block form .btn span {
        -webkit-transform: skew(20deg);
        -moz-transform: skew(20deg);
        -o-transform: skew(20deg);
        transform: skew(20deg); }

.reviews-block {
  background: #f2f2f2;
  padding-bottom: 20px; }
  .reviews-block .title {
    color: #5b0e9e;
    margin-top: 1.5em;
    font-size: 60px; }
    @media (max-width: 991px) {
      .reviews-block .title {
        font-size: 50px; } }
    @media (max-width: 575px) {
      .reviews-block .title {
        font-size: 35px; } }
  .reviews-block .rev-slider-wrap .slick-next, .reviews-block .rev-slider-wrap .slick-prev {
    cursor: pointer;
    border: none;
    background: transparent;
    position: absolute;
    width: 44px;
    height: 40px;
    top: calc(50% - 20px);
    margin: 0;
    padding: 0;
    overflow: hidden;
    z-index: 5; }
    .reviews-block .rev-slider-wrap .slick-next:hover span:before, .reviews-block .rev-slider-wrap .slick-next:hover span:after, .reviews-block .rev-slider-wrap .slick-prev:hover span:before, .reviews-block .rev-slider-wrap .slick-prev:hover span:after {
      background: #588fdb; }
    .reviews-block .rev-slider-wrap .slick-next span, .reviews-block .rev-slider-wrap .slick-prev span {
      position: relative;
      width: 100%;
      height: 40px;
      display: inline-block; }
      .reviews-block .rev-slider-wrap .slick-next span:before, .reviews-block .rev-slider-wrap .slick-next span:after, .reviews-block .rev-slider-wrap .slick-prev span:before, .reviews-block .rev-slider-wrap .slick-prev span:after {
        content: '';
        background: #a0cb00;
        position: absolute;
        top: 16px;
        height: 10px;
        width: 50px;
        -webkit-transition: .3s;
        -moz-transition: .3s;
        -ms-transition: .3s;
        -o-transition: .3s;
        transition: .3s; }
      .reviews-block .rev-slider-wrap .slick-next span:before, .reviews-block .rev-slider-wrap .slick-prev span:before {
        left: calc(50% - 7px);
        -webkit-transform: rotate(35deg);
        -moz-transform: rotate(35deg);
        -ms-transform: rotate(35deg);
        -o-transform: rotate(35deg);
        transform: rotate(35deg); }
      .reviews-block .rev-slider-wrap .slick-next span:after, .reviews-block .rev-slider-wrap .slick-prev span:after {
        right: calc(50% - 7px);
        -webkit-transform: rotate(-35deg);
        -moz-transform: rotate(-35deg);
        -ms-transform: rotate(-35deg);
        -o-transform: rotate(-35deg);
        transform: rotate(-35deg); }
  .reviews-block .rev-slider-wrap .slick-prev {
    top: calc(50% - 20px);
    left: 0;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg); }
  .reviews-block .rev-slider-wrap .slick-next {
    bottom: calc(50% - 20px);
    right: 0;
    left: auto;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg); }
    .reviews-block .rev-slider-wrap .slick-next span:before {
      left: calc(50% - 7px);
      -webkit-transform: rotate(-35deg);
      -moz-transform: rotate(-35deg);
      -ms-transform: rotate(-35deg);
      -o-transform: rotate(-35deg);
      transform: rotate(-35deg); }
    .reviews-block .rev-slider-wrap .slick-next span:after {
      right: calc(50% - 7px);
      -webkit-transform: rotate(35deg);
      -moz-transform: rotate(35deg);
      -ms-transform: rotate(35deg);
      -o-transform: rotate(35deg);
      transform: rotate(35deg); }
  .reviews-block .rev-slider-wrap .slick-dots {
    text-align: center;
    margin-top: 40px; }
    .reviews-block .rev-slider-wrap .slick-dots li {
      display: inline-block;
      padding: 0 12px; }
      .reviews-block .rev-slider-wrap .slick-dots li.slick-active button {
        background: #5b0e9e; }
      .reviews-block .rev-slider-wrap .slick-dots li button {
        cursor: pointer;
        background: #588fdb;
        border: none;
        border-radius: 50%;
        height: 15px;
        width: 15px;
        font-size: 0;
        color: transparent;
        -webkit-transition: .3s;
        -moz-transition: .3s;
        -ms-transition: .3s;
        -o-transition: .3s;
        transition: .3s; }
        .reviews-block .rev-slider-wrap .slick-dots li button:hover {
          background: #a0cb00; }
  .reviews-block .one-rew-slide {
    display: flex;
    padding: 0 100px; }
    @media (max-width: 1199px) {
      .reviews-block .one-rew-slide {
        padding: 0 50px; } }
    @media (max-width: 991px) {
      .reviews-block .one-rew-slide {
        padding: 0 30px; } }
    @media (max-width: 768px) {
      .reviews-block .one-rew-slide {
        flex-direction: column; } }
    @media (max-width: 575px) {
      .reviews-block .one-rew-slide {
        padding: 0; } }
    .reviews-block .one-rew-slide .human {
      width: 30%;
      padding-top: 20px; }
      @media (max-width: 768px) {
        .reviews-block .one-rew-slide .human {
          width: 100%;
          margin-bottom: 20px; } }
      .reviews-block .one-rew-slide .human .img-wrap {
        text-align: center;
        padding: 0 50px;
        margin-bottom: 30px; }
        @media (max-width: 991px) {
          .reviews-block .one-rew-slide .human .img-wrap {
            padding: 0 20px; } }
        @media (max-width: 768px) {
          .reviews-block .one-rew-slide .human .img-wrap {
            margin-bottom: 15px; } }
        .reviews-block .one-rew-slide .human .img-wrap img {
          width: 100%;
          border-radius: 50%;
          overflow: hidden; }
          @media (max-width: 768px) {
            .reviews-block .one-rew-slide .human .img-wrap img {
              max-width: 200px;
              margin: 0 auto; } }
      .reviews-block .one-rew-slide .human .name {
        font-weight: bold;
        font-size: 24px;
        text-align: center; }
    .reviews-block .one-rew-slide .comment {
      width: 70%;
      font-size: 24px;
      line-height: 1.5em;
      padding: 0 20px; }
      @media (max-width: 1199px) {
        .reviews-block .one-rew-slide .comment {
          line-height: 1.3em;
          font-size: 23px; } }
      @media (max-width: 991px) {
        .reviews-block .one-rew-slide .comment {
          line-height: 1.3em;
          font-size: 22px; } }
      @media (max-width: 768px) {
        .reviews-block .one-rew-slide .comment {
          width: 100%;
          text-align: center;
          font-size: 20px; } }
      @media (max-width: 575px) {
        .reviews-block .one-rew-slide .comment {
          font-size: 14px; } }

.contact-block {
  background: #f2f2f2; }
  .contact-block .title {
    color: #5b0e9e;
    margin-top: 1.5em;
    font-size: 60px;
    margin-bottom: 1em; }
    @media (max-width: 991px) {
      .contact-block .title {
        font-size: 50px; } }
    @media (max-width: 575px) {
      .contact-block .title {
        font-size: 35px; } }
  .contact-block .contact-address {
    padding: 70px 0;
    background: url("../img/contact-bg.jpg") no-repeat center;
    background-size: cover;
    text-align: center; }
    .contact-block .contact-address .address-wrap {
      display: inline-block;
      border-top: 30px solid #eae005;
      background: #fff;
      font-size: 24px;
      font-weight: bold;
      padding: 15px 60px 50px; }
      @media (max-width: 768px) {
        .contact-block .contact-address .address-wrap {
          border-top: 10px solid #eae005;
          padding: 15px 30px 30px; } }
      @media (max-width: 575px) {
        .contact-block .contact-address .address-wrap {
          font-size: 18px; } }
      .contact-block .contact-address .address-wrap .icon {
        color: #5b0e9e;
        font-size: 50px;
        margin-bottom: 20px; }
      .contact-block .contact-address .address-wrap .address-text {
        line-height: 1.5em; }
  .contact-block .contact-map {
    font-size: 0; }
