@font-face {
  font-family: 'nvp-font';
  src:  url('fonts/nvp-font.eot?qlbdff');
  src:  url('fonts/nvp-font.eot?qlbdff#iefix') format('embedded-opentype'),
    url('fonts/nvp-font.ttf?qlbdff') format('truetype'),
    url('fonts/nvp-font.woff?qlbdff') format('woff'),
    url('fonts/nvp-font.svg?qlbdff#nvp-font') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="nvp"], [class*=" nvp"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'nvp-font' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.nvpclock:before {
  content: "\e900";
}
.nvpdelivery:before {
  content: "\e901";
}
.nvpdiploma:before {
  content: "\e902";
}
.nvpheadphones:before {
  content: "\e903";
}
.nvplike:before {
  content: "\e904";
}
.nvppackage:before {
  content: "\e905";
}
.nvpplaceholder:before {
  content: "\e906";
}
.nvpplanning:before {
  content: "\e907";
}
.nvpquality:before {
  content: "\e908";
}
.nvpsettings:before {
  content: "\e909";
}
.nvpstar:before {
  content: "\e90a";
}
.nvptick-sign:before {
  content: "\e90b";
}
.nvpwallet:before {
  content: "\e90c";
}
